$space-purple: #B06AB3;
$space-blue: #4568DC;
$purple-gradient: linear-gradient( -90deg, $space-purple 0%, $space-blue 100%) no-repeat;
$white: #fff;
$purp-blue: #7B69C7;
$blue-purp: #4568DC;
$blue-purp-hover: #274ece;

$light-grey: #d8d8d8;
$lighter-grey: #f7f7f7;
$transparent: rgba(0,0,0,0);