@import './partials/reset';
@import './partials/clearfix';
@import './partials/colors';
@import './partials/typography';
@import './partials/mixins';

body{
  font-size: 16px;
  font-weight: 300;
  font-family: $roboto;
  background: $purple-gradient;
  height: 100vh;
}

@import './components/login';
@import './components/header';