#header {
  display: flex;
  flex-flow: row nowrap;

  a {
    color: $white;
    display: block;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    text-decoration: none;
  }

  #title{
    width: 106px;
    background: url('../assets/stratospeer-logo.svg') no-repeat;    white-space: nowrap;
    color: rgba(0,0,0,0);
  }
}