.services-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4rem 0 0 0;
}
.skip-step{
  margin-top: 2rem;
  width: 100%;
}

.service-card{
  width: 130px;
  box-shadow: 0 0 8px 0 #ccc;
  text-transform: capitalize;
  margin: 0.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}
.service-card h2 {
  font-size: 1rem;
}
.service-card:hover {
  cursor: pointer;
}

.service-card .logo {
  flex-grow: 0.5;
  width: 75%;
}

.service-card img {
  width: 100%;
  padding: 0 0 8px 0;
}